.bgImage {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mobileBgImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
