/* EditTagModal.module.css */

.bigPreviewImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: 1px solid rgb(229, 231, 235);
  --max-height: 300px;
  max-height: var(--max-height);
}

.dark .bigPreviewImage {
  border-color: rgb(75, 85, 99);
}
